BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 130
SortIncludes: Never

# indentation
MaxEmptyLinesToKeep: 2
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: All
IndentPPDirectives: AfterHash

# functions, constructors, template parrameters
BinPackParameters: true
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: true
AlwaysBreakTemplateDeclarations: true
