CompileFlags:
  Add: [-Wall, -Wextra, -Wpedantic, -Wnull-dereference, -Wuse-after-move]

Index:
  StandardLibrary: false

Diagnostics:
  UnusedIncludes: Strict
  Suppress: [unknown-pragmas]
  ClangTidy:
    Add: [
      bugprone-*,
      clang-analyzer-nullability.*,
      modernize-*,
      performance-*,
    ]
    Remove: [
      bugprone-easily-swappable-parameters,
      bugprone-reserved-identifier,
      modernize-use-trailing-return-type,
      modernize-use-nodiscard,
      modernize-use-ranges,
      modernize-use-using,
      performance-enum-size,
    ]

