BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 130
SortIncludes: Never

# indentation
MaxEmptyLinesToKeep: 2
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: All
IndentPPDirectives: AfterHash

# Functions, constructors, template parrameters
PackConstructorInitializers: Never
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 0
AlwaysBreakTemplateDeclarations: Yes

# Aligns
AlignConsecutiveMacros: true
# AlignEscapedNewlines: LeftWithLastLine
AlignArrayOfStructures: Left
AlignTrailingComments: Always
AlignOperands: false
BreakBeforeBinaryOperators: NonAssignment
